body {
    display: grid;
    background-color: #20B2AA;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'as ma' 'as ma';
}

aside {
    background-color: #20B2AA;
    grid-area: as;
    border-right: 2px black solid;
    padding: 0px 50px;
    align-items: center;
}

main {
    background-color: #EDEDE6;
    grid-area: ma;
    height: 100vh;
  text-align: center;
}

nav{
    width: 100%;
}

.nav-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.nav-list a{
    display: block;
    width: 100%;
    color: white;
    padding: 10px;
    background: rgba(0,0,0,0.15);
    text-decoration: none;
    border-radius: 15px;
}

.nav-list a:hover{

    background: rgba(0,0,0,0.25);
}

.logo {
    display: block;
    width: 210px;
    margin-bottom: 30px;
   
}
.medicine{
    height: 400px;
    width:  1200px;
 margin-top: 40px;
}