body {
    display: grid;
   margin: 0;
}

#container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'as ma' 'as ma';
}

aside {
    background-color: #20B2AA;
    grid-area: as;
    border-right: 1px black solid;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

main {
    grid-area: ma;
    background-image: url("/img/bg.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    margin-top: 10px;
}

.nav-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.nav-list a{
    display: block;
    width: 100%;
    color: white;
    padding: 10px;
    background: rgba(0,0,0,0.15);
    text-decoration: none;
    border-radius: 15px;
}

.nav-list a:hover{

    background: rgba(0,0,0,0.25);
}

.trade-mark{
    text-align: center;
    color:white;
    margin-top: 49vh;
}

.logo {
    display: block;
    width: 210px;
    margin-bottom: 30px;
   
}
.medicine{
    height: 300px;
    width:  900px;
 margin-top: 40px;
}


.about-card {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    text-align: left;
    backdrop-filter: blur(5px); 
}

.about-card h1 {
    color: #20B2AA; 
    font-family: 'Georgia', serif; 
    margin-top: 0;
    font-size: 1.5cm;
}

.about-card p {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 0.6cm;
}

.about-card hr {
    height: 1px;
    background: #20B2AA;
    margin: 30px 0;
    opacity: 0.5;
}
.moto{
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 30px;
}

